{% extends 'frontend/base.html' %}

{% load static %}
{% load imagefit %}

{% block main %}
    {% include 'frontend/symbols/header.html' with bg_class="bg-gray-50" svg_class="text-gray-100" title=page.header_heading text=page.header_text image=page.header_image.url image_alt="Kängaroo Kontakt" %}

    <section class="{% include 'frontend/styles/section.txt' %} shadow z-10">
        <div class="{% include 'frontend/styles/container.txt' %}">
            {% include 'frontend/symbols/article.html' with text=page.content %}
        </div>
    </section>

{% endblock main %}
