<section class="{% include 'styles/section.txt' %} bg-gray-100 overflow-hidden">
    <div class="{% include 'styles/container.txt' %}">
        <div class="{% include 'styles/padding.txt' %}">
            <div class="pt-32 pb-32">
                <h2 class="{% include 'styles/h2.txt' with color='text-blue-600' %} mb-5 md:text-4xl lg:mb-10"
                    data-aos="fade-up" data-aos-delay="">
                    {{ page.seminars_heading }}
                </h2>
                <div class="" data-aos="fade-up" data-aos-delay="100">
                    <div class="flex relative"
                         x-data="slider()"
                         x-init="setup()">
                        <!-- Previous Arrow -->
                        <div class="flex-col pr-2 text-gray-600 absolute transform left-0 h-full -translate-x-full z-30 hidden md:flex">
                            <button
                                    class="p-2 focus:outline-none h-full"
                                    x-on:click="previous(); auto = false;">
                                <svg class="w-8 h-8 mb-8" xmlns="http://www.w3.org/2000/svg" fill="none"
                                     viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="2" d="M15 19l-7-7 7-7"></path>
                                    <span class="sr-only">Zurück</span>
                                </svg>
                            </button>
                        </div>
                        <div class="flex flex-col flex-1">
                            <div class="flex flex-row relative">
                                <!-- Slides -->
                                {% for execution in seminar_executions %}
                                    {% include 'symbols/pages/index/slide.html' %}
                                {% endfor %}
                            </div>
                            <!-- Buttons -->
                            <div class="w-full flex items-center justify-center px-4">
                                <template x-for="slide in slidesArray" :key="slide">
                                    <button class="mt-2 py-2 px-1.5 focus:outline-none"
                                            x-on:click="set(slide); auto = false;">
                                        <div class="w-8 h-1.5 overflow-hidden transition-colors duration-200 ease-out"
                                             :class="{
                                                          'bg-blue-500': activeSlide === slide,
                                                          'bg-gray-300': activeSlide !== slide
                                                      }">
                                            <span class="sr-only">Auswählen</span>
                                        </div>
                                    </button>
                                </template>
                            </div>
                        </div>
                        <!-- Next Arrow -->
                        <div class="hidden flex-col h-full pl-2 text-gray-600 z-30 md:flex absolute transform right-0 translate-x-full">
                            <button
                                    class="p-2 h-full focus:outline-none"
                                    x-on:click="next(); auto = false;">
                                <svg class="w-8 h-8 mb-8" xmlns="http://www.w3.org/2000/svg" fill="none"
                                     viewBox="0 0 24 24"
                                     stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="2" d="M9 5l7 7-7 7"></path>
                                </svg>
                                <span class="sr-only">Weiter</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    window.slider = function () {
        return {
            numberOfSlides: {{ seminar_executions.count }},
            slidesArray: [],
            activeSlide: 0,
            previousSlide: 0,
            auto: true,
            setup() {
                this.slidesArray = Array.from(Array(this.numberOfSlides).keys());
                setTimeout(() => this.autoPlay(), {{ page.seminars_autoplay }});
            },
            autoPlay() {
                if (this.auto) {
                    this.next();
                    setTimeout(() => this.autoPlay(), {{ page.seminars_autoplay }});
                }
            },
            next() {
                if (this.activeSlide === this.slidesArray.length - 1) {
                    this.previousSlide = -1;
                    this.activeSlide = 0;
                } else {
                    this.previousSlide = this.activeSlide;
                    this.activeSlide = this.activeSlide + 1;
                }
            },
            previous() {
                if (this.activeSlide === 0) {
                    this.previousSlide = 999;
                    this.activeSlide = this.slidesArray.length - 1;
                } else {
                    this.previousSlide = this.activeSlide;
                    this.activeSlide = this.activeSlide - 1;
                }
            },
            set(slideNumber) {
                this.previousSlide = this.activeSlide;
                this.activeSlide = slideNumber;
            },
            transitions(state) {
                const rightToLeft = this.activeSlide > this.previousSlide;
                switch (state) {
                    case 'enter':
                        return 'transition duration-1000 transform'
                    case 'enter-start':
                        return `opacity-0 ${rightToLeft ? 'translate-x-full' : '-translate-x-full'}`
                    case 'enter-end':
                        return `opacity-100 ${rightToLeft ? 'translate-x-0' : 'translate-x-0'}`
                    case 'leave':
                        return 'transition duration-1000 transform absolute'
                    case 'leave-start':
                        return `opacity-100 ${rightToLeft ? 'translate-x-0' : 'translate-x-0'}`
                    case 'leave-end':
                        return `opacity-0 ${rightToLeft ? '-translate-x-full' : 'translate-x-full'}`
                }
            }
        }
    }
</script>