<div :x-transition:enter="transitions('enter')"
     :x-transition:enter-start="transitions('enter-start')"
     :x-transition:enter-end="transitions('enter-end')"
     :x-transition:leave="transitions('leave')"
     :x-transition:leave-start="transitions('leave-start')"
     :x-transition:leave-end="transitions('leave-end')"
     x-show="activeSlide === {{ forloop.counter0 }}"
     class="shadow-lg rounded-lg min-w-full">
    <div class="overflow-x-hidden overflow-y-sroll">
        <div class="flex flex-col overflow-hidden bg-blue-600 rounded-2xl pt-4 pb-4 pl-4 pr-5">
            <div class="flex-1">
                <p class="text-sm text-blue-050">
                    Vom
                    <time datetime="{{ execution.start_date|date:'Y-m-d' }}">
                        {{ execution.start_date|date:'d.m.Y' }}
                    </time>
                    bis zum
                    <time datetime="{{ execution.end_date|date:'Y-m-d' }}">
                        {{ execution.end_date|date:'d.m.Y' }}
                    </time>
                </p>
                <a href="{% url 'seminartopic_detail' execution.topic.slug %}#anstehende-seminare" class="mt-2 block">
                    <h3 class="text-xl font-semibold text-blue-050">
                        {{ execution.topic.title }}
                    </h3>
                    <p class="mt-3 text-base text-blue-050 max-w-4xl">
                        {{ execution.topic.short_description }}
                    </p>
                </a>
                <div class="mt-3">
                    <div class="text-blue-050 flex items-center space-x-6">
                        <div>
                            <svg class="w-5 h-5 inline text-blue-100 mb-1.5"
                                 xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 20 20"
                                 fill="currentColor">
                                <path fill-rule="evenodd"
                                      d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            <div class="inline leading-tight">{{ execution.location|default:execution.get_execution_display }}</div>
                        </div>
                        <div>
                            <svg class="w-5 h-5 inline text-blue-100 mb-1.5" xmlns="http://www.w3.org/2000/svg"
                                 fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                            </svg>
                            <div class="inline leading-tight">{{ execution.language }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mt-6">
                {% for trainer in execution.members.all %}
                    <div class="flex">
                        <div class="h-16 w-16 md:h-32 md:w-32 mr-3 flex-none">
                            <div class="aspect-h-1 aspect-w-1">
                                <img class="object-cover rounded-full" src="{{ trainer.image.url }}"
                                     alt="{{ trainer.name }}">
                            </div>
                        </div>
                        <div class="">
                            <p class="text-blue-100 leading-tight">Trainer</p>
                            <h4 class="text-blue-050 font-medium mb-2 text-lg">{{ trainer.name }}</h4>
                            <p class="text-sm text-blue-050 max-w-xl">{{ trainer.short_description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="hidden self-end ml-auto mt-6">
                <a href="{% url 'seminartopic_detail' execution.topic.slug %}#anstehende-seminare"
                   class="{% include 'styles/a.txt' %}">
                    Mehr erfahren
                </a>
            </div>
        </div>
    </div>
</div>