{% extends 'frontend/base.html' %}

{% load static %}
{% load imagefit %}

{% block main %}
    {% static 'img/emu-kontakt.jpg' as image %}
    {% include 'frontend/symbols/header.html' with title=object.name text=object.description image=image image_alt=object.name|add:" Bild" bg_class="bg-gray-100" svg_class="text-gray-100" %}

    <section class="{% include 'frontend/styles/section.txt' %}">
        <div class="{% include 'frontend/styles/container.txt' %}">
            <div class="pt-32 pb-32">
                <div class="{% include 'frontend/styles/padding.txt' %}">
                    <h2 class="{% include 'frontend/styles/h2.txt' %} mb-2">Themen</h2>
                    <p class="{% include 'frontend/styles/p.txt' %} max-w-2xl">Wir bieten Kurse zu unterschiedlichen
                        Themen an.</p>
                    <hr class="w-full border-t-2 border-gray-200 mb-10 mt-4">
                    <div class="grid grid-cols-3 gap-6">
                        {% for topic in object.seminar_topics.all %}
                            <div>
                                <div class="flex items-start mb-4 flex-col">
                                    <img class="w-20 mb-3" src="{{ topic.image.url|resize:'80x80' }}"
                                         alt="{{ topic.title }}">
                                    <h3 class="{% include 'frontend/styles/h3.txt' %} leading-tight">{{ topic.title }}</h3>
                                </div>
                                <p class="{% include 'frontend/styles/p_small.txt' %} mb-4">
                                    {{ topic.short_description }}
                                </p>
                                <a class="{% include 'frontend/styles/a.txt' %}"
                                   href="{% url 'seminartopic_detail' topic.slug %}">
                                    Mehr erfahren
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}
